<!-- <div class="form-container">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="form">
        <div class="input-container">
            <label for="public_key">Public Key</label>
            <input id="public_key" formControlName="public_key">
        </div>
        <div class="input-container">
            <label for="private_key">Private Key</label>
            <input id="private_key" formControlName="private_key">
        </div>
        <div class="btn-container">
            <button type="submit" [disabled]="authForm.invalid">Login</button>
        </div>
    </form>
</div> -->
<div class="form-container">
    <form class="form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <label for="public_key">Public Key</label>
            <input type="text" id="public_key" formControlName="public_key">
            <div *ngIf="authForm.controls['public_key'].invalid && (authForm.controls['public_key'].dirty || authForm.controls['public_key'].touched)" class="error-message">
                Please enter a valid public key
            </div>
        </div>
        <div class="input-container">
            <label for="private_key">Private Key</label>
            <input type="text" id="private_key" formControlName="private_key">
            <div *ngIf="authForm.controls['private_key'].invalid && (authForm.controls['private_key'].dirty || authForm.controls['private_key'].touched)" class="error-message">
                Please enter a valid private key
            </div>
        </div>
        <div class="btn-container">
            <button type="submit" [disabled]="authForm.invalid">Login</button>
        </div>
    </form>
</div>